.avatar .box {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
.avatar .avatarBox {
    padding: 10px;
    background-color: lightskyblue;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.avatar .avatarBox:hover {
    background-color: lightcoral;
    box-shadow: 1px 2px 3px gray;
    transition: background-color 0.4s ease-in-out;
}
.avatar .avatarBox img {
    width: 5rem;
}