<div class="detailDevice">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="col">
                        <div class="card">
                            <!--TODO: PENDIENTE GRAFICOS...-->
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">

                </div>
            </div>
        </div>
    </div>
</div>