<div class="detailDevice">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row mb-2">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card">
                            <circle-progress
                            [percent]="0"
                            [responsive]="true"
                            [backgroundGradient]="true"
                            backgroundColor="#A9FF9F"
                            backgroundGradientStopColor="#F0F0F0"
                            [space]="7"
                            [toFixed]="0"
                            units="ºC"
                            unitsFontSize="20"
                            title="0"
                            [titleColor]="'black'"
                            titleFontSize="20"
                            subtitle="Temperatura"
                            [subtitleColor]="'black'"
                            subtitleFontSize="20"
                            [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'"
                            ></circle-progress>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card">
                            <circle-progress
                            [percent]="0"
                            [responsive]="true"
                            [backgroundGradient]="true"
                            backgroundColor="#FFB0B0"
                            backgroundGradientStopColor="#F0F0F0"
                            [space]="7"
                            [toFixed]="0"
                            units="%"
                            unitsFontSize="20"
                            title="0"
                            [titleColor]="'black'"
                            titleFontSize="20"
                            subtitle="Humedad"
                            [subtitleColor]="'black'"
                            subtitleFontSize="20"
                            [outerStrokeColor]="'#FF5936'"
                            [innerStrokeColor]="'#FF937C'"
                            ></circle-progress>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card">
                            <circle-progress
                            [percent]="0"
                            [responsive]="true"
                            [backgroundGradient]="true"
                            backgroundColor="lightblue"
                            backgroundGradientStopColor="#F0F0F0"
                            [space]="7"
                            [toFixed]="0"
                            units="nA"
                            unitsFontSize="20"
                            title="0"
                            [titleColor]="'black'"
                            titleFontSize="20"
                            subtitle="Potencia"
                            [subtitleColor]="'black'"
                            subtitleFontSize="20"
                            [outerStrokeColor]="'#3CBEFF'"
                            [innerStrokeColor]="'#84D6FF'"
                            ></circle-progress>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card">
                            <circle-progress
                            [percent]="0"
                            [responsive]="true"
                            [backgroundGradient]="true"
                            backgroundColor="#FFF3C0"
                            backgroundGradientStopColor="#F0F0F0"
                            [space]="7"
                            [toFixed]="0"
                            units="kHz"
                            unitsFontSize="20"
                            title="0"
                            [titleColor]="'black'"
                            titleFontSize="20"
                            subtitle="Frecuencia"
                            [subtitleColor]="'black'"
                            subtitleFontSize="20"
                            [outerStrokeColor]="'#FFDD54'"
                            [innerStrokeColor]="'#FFEB99'"
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4">
                <h4 class="mb-3 text-center">{{ dataDevice.serial }}</h4>
                <ul class="list-group">
                    <li class="list-group-item">T.Gama: </li>
                    <li class="list-group-item">Pot.Max: </li>
                    <li class="list-group-item">Pot.Min: </li>
                    <li class="list-group-item">Frec.Max: </li>
                    <li class="list-group-item">Frec.Min: </li>
                </ul>
            </div>
        </div>
    </div>
</div>