<div class="login">
    <div class="logo">
        <img src="../../../assets/logo/logo_large.png" alt="">
    </div>
    <div class="content">
        <div class="mb-2">
            <p class="text-center title">Inicia Sesión</p>
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Email...">
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña...">
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="checkRemember">
            <label class="form-check-label" for="checkRemember">Recordar Cuenta</label>
        </div>
        <div class="mb-2">
            <button type="button" class="btn btn-dark">Iniciar Sesión</button>
        </div>
        <div class="mb-2">
            <p>¿No tienes Cuenta en devicesIOT? <a [routerLink]="['/Register']">Regístrate</a></p>
        </div>
    </div>
</div>
