<div class="register">
    <div class="logo">
        <img src="../../../assets/logo/logo_large.png" alt="">
    </div>
    <div class="content">
        <div class="mb-2">
            <p class="text-center title">Regístrate</p>
        </div>
        <div class="mb-2">
            <label for="name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre..." [(ngModel)]="data.name">
        </div>
        <div class="mb-2">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Email..." [(ngModel)]="data.email">
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Contraseña:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Contraseña..." [(ngModel)]="data.password" (keydown)="checkLetters($event)">
                <button type="button" class="btn btn-outline-dark" (click)="showInfo()"><span class="material-symbols-outlined" style="vertical-align: middle;">info</span></button>
            </div>
            <div class="alert alert-light animate__animated animate__fadeIn none" role="alert" #info>
                <ul>
                    <li class="animate__animated animate__fadeIn" #len>Entre 8 y 16 caracteres</li>
                    <li class="animate__animated animate__fadeIn" #digit>Al menos un dígito</li>
                    <li class="animate__animated animate__fadeIn" #upper>Al menos una mayúscula</li>
                    <li class="animate__animated animate__fadeIn" #lower>Al menos una minúscula</li>
                    <li class="animate__animated animate__fadeIn" #symbol>Al menos un símbolo</li>
                </ul>
            </div>
        </div>
        <div class="mb-2">
            <button type="button" class="btn btn-dark" (click)="register()">Registrarse</button>
        </div>
        <div class="mb-3">
            <p>¿Ya tienes Cuenta en devicesIOT? <a [routerLink]="['/Login']">Inicia Sesión</a></p>
        </div>
    </div>
</div>
