.register {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: url('../../../assets/backgroung_login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register .logo {
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    text-align: center;
}
.register .logo img {
    width: 15rem;
}
.register .content .title {
    text-align: center;
    margin-top: 10px;
    color: #494949;
    font-weight: bold;
    font-size: 1.1rem;
}
.register .content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 10px #494949;
}
.register .content label {
    color: black;
}

/* @MEDIAS */
@media screen and (max-width: 415px) {
    .register .content .title {
        font-size: 0.8rem;
    }
    .register .content {
        width: 300px;
    }
    .register .content .title {
        font-size: 1rem;
    }
}