<div class="newDevice">
    <h5 class="mb-3 text-center">
        <span class="material-symbols-outlined" style="vertical-align: middle;">phonelink_setup</span> 
        Nuevo Dispositivo
    </h5>
    <div class="card text-bg-dark mb-3">
        <div class="card-body">
            <div class="mb-2">
                <label for="serial" class="form-label">Serial:</label>
                <input type="text" class="form-control" id="serial" placeholder="Serial...">
            </div>
            <div class="mb-2">
                <label for="alias" class="form-label">Alias:</label>
                <input type="text" class="form-control" id="alias" placeholder="Alias...">
            </div>
            <div class="mb-2">
                <p class="message text-danger animate__animated animate__fadeIn" #message></p>
            </div>
            <div class="mb-2">
                <button type="button" class="btn btn-light">Instalar</button>
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        Si detecta problemas con alguno de los dispositivos, no dudes en ponerte en contacto con <strong>Soporte</strong> para verificar el problema.
    </div>
</div>